// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$link: #337AB7;
$grey: #4d4d4d;


body {
    color: $grey;
}

.navbar {
    margin-bottom: 70px;
    .links li{
        display: inline-block;
        padding: 14px;
        a { 
            color: $grey;
        }
        button {
            background: transparent;
            background: transparent;
            border: none;
            padding: 0;
        }
    }
    .navbar-brand {
        a {
            color: $grey;
        }
    }
}

.posts-index {
    a {
        color: $grey;
       &:hover {
            color: lighten($grey, 15%);
        }
    }
}

.posts-show {
    p {
        font-size: 20px;
        line-height: 25px;
    }
}

.links {
    text-align: center;

    .delete {
        color: red;
        background: transparent;
        border: none;
        padding: 0;
        color: $link;
        &:hover {
            color: darken($link, 15%);
            text-decoration: underline;
        }
    }
}